@media screen and (min-width: 768px) {

  #narration {
    width: 50vw;
    height: 100vh;
    top: 0;
  }

  #map {
    width: 50vw;
    left: 50%;
    height: 100vh;
    border: 0;
    z-index: 0;
  }

  #title {
    width: 50vw;
    top: 0;
  }

  .leaflet-control-attribution {
    visibility: visible;
  }

}
